---
import Card from '../components/Card.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Wise Advice'>
  <main class='h:full w:full flex jc:center ai:center'>
    <Card />
  </main>
</Layout>
