---
import Button from '../components/Button';

export const API_KEY = import.meta.env.OPENAI_API_KEY
---

<div
  class='p:24 bg:grayish-blue-dark m:0|16 m:0@xs text:center r:16 flex flex:col jc:space-evenly min-h:320 ai:center rel max-w:xs'
>
  <div>
    <h3 id='adviceno' class='uppercase ls:6 color:neon-green f:14 font:regular'>
      Advice #999
    </h3>
  </div>
  <div class='color:light-cyan text:center m:0|28@2xs'>
    <p id='advice' class='font:extrabold f:28'>
      "It's easy to sit up and take notice, what's difficult is getting up and
      taking action."
    </p>
  </div>
  <div>
    <img
      id='divider'
      src=''
      class='m:0|auto'
      alt='divider'
    />
  </div>
  <div class='abs bottom:-30'>
    <Button API_KEY={API_KEY} client:load />
  </div>
</div>

<script>
  const image = document.getElementById('divider') as HTMLImageElement

  const windowWidth = window.innerWidth

  if (windowWidth < 500) {
    image.src = '/pattern-divider-mobile.svg'
  } else {
    image.src = '/pattern-divider-desktop.svg'
  }

  window.addEventListener('resize', () => {
    const windowWidth = window.innerWidth

    if (windowWidth < 500) {
      image.src = '/pattern-divider-mobile.svg'
    } else {
      image.src = '/pattern-divider-desktop.svg'
    }
  })
</script>
